.oneShop{
  width: 200px;
  min-height: 250px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  border-color: #231709;
  border-style: solid;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  background-color: pink;
  padding: 40px;
  margin: auto;
}

#root{
  text-align: center;
  color: #231709;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.mainTitle{
  font-size:40px
}

.flowerGarland{
  max-height: 100px;
}